@import "../../../css/global";
@import "../../../css/mixins";

.section-contact {
  p {
    font-size: 2rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: #fff 2px solid;
    @extend .link-hover-effect;
  }
  position: relative;
  .content {
    z-index: 9;
    position: relative;
    display: inline-block;
  }
  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
     @include respond-below(sm) {
      height: 100%;
    }
  }
}