@import "../../../css/global";

.section-contact {
  p {
    font-size: 2rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    border-bottom: #fff 2px solid;
    @extend .link-hover-effect;
    
  }
}